@import "variables";

section {
    display: flex;
    flex-direction: column;;

    #intro {
    
        height: calc(100vh - #{$navHeight} - #{$headerHeight});
        min-height: 600px;

        #headShot {
            min-width: 400px;
            min-height: auto;
        }

        #introInfo {
        }

        h1 {
            font-size: 60px;
            letter-spacing: 0.1em;
            position: relative;
            margin: 0;
            top: 20vh;

        }
    
        ul {       
            font-size: $bodyFontSize;
            
            margin: 0 auto;
            position: relative;
            top: 110%;
            max-width: 1000px;
            line-height: 1.5em;
    
        }
    }
}