@import "variables";

section {
    display: flex;
    flex-direction: column;;

    #intro {
    
        height: calc(100vh - #{$navHeight});
        min-height: 600px;


        h1 {
            font-size: 60px;
            padding: 20vh;
            letter-spacing: 0.2em;
            margin: 0;

        }
    
        ul {       
            font-size: 40px;
            
            margin: 0 auto; 
            line-height: 1.5em;
            list-style-type: none;
    
        }
    }

    font-size: $bodyFontSize;
    border-bottom: solid;

    ul {
        line-height: 1.5em;
        list-style-type: none;
    }

}