@import "variables";

#nav-items {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: 'Quantico', sans-serif;
    font-size: $navFontSize;
    margin: 0;
    padding: 0;
    line-height: $navHeight;
    
    #logo {
        position: absolute;
        left: $navHeight/2;
    }

    li.items {
        flex-basis: 180px;
        transition: background $transitionTime linear;
        &:hover {
            background: darken($navColor, 10%);
            transition: background $transitionTime linear;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        display: block;

    }
}
