@import "variables";
@import "mixins";
@import "crt";

#nav-items {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    &::after{
      content:"";  
    }
    &::before{
        content:"";
    }
    li.items {
        justify-items: start;
        flex-basis: 300px;
        font-size: $navFontSize;
    }

    a {
        position: absolute;
        top: -10px;
        text-decoration: none;
        //dims nav icons to simulate glow
        color: transparentize($black, .3);
        display: block;
    }
}
