@import "plate";
@import "nav";
@import "variables";
@import "aboutSection";
@import "crt";

body{
    font-family: 'VT323', monospace;
    background: $black;
    color: $green;
    text-align: center;
    background-image: radial-gradient( darken($green, 46%), $black);
    background-attachment: fixed;
    text-shadow: 0 0 5px $green;
    height: 100vh;


}

div.site-grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-auto-rows: minmax($navHeight, auto);

    header {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: $headerHeight;
    }

    nav {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        position: sticky;
        top: 0;
        background: $green;
        color: $black;
        box-shadow: 0 -1px 20px -2px $green;
    }

    aside {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        z-index: -1;
        position: sticky;
        top: $navHeight;
        height: calc(100vh - #{$navHeight});
        align-self: start;  
       // border-right-style: solid;
        //border-width: 10px;
        //border-image: url(/img/border.png) 10 round;

    }

    section {
        grid-column: 2 / 3;
        grid-row: 3 / 4;

    }

    footer {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
}
