$bgColor: #f8f8f8;

body{
    font-family: Verdana;
    color: invert($bgColor);
    background: linear-gradient($bgColor, darken($bgColor, 10%)) no-repeat;
    text-align: center;
    height: 100%;
    margin: 0;
}

div.siteGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    
}
