$bgColor: #f8f8f8;

body{
    font-family: Verdana;
    color: invert($bgColor);
    background: linear-gradient($bgColor, darken($bgColor, 20%)) no-repeat;
    text-align: center;
    height: 100%;
    margin: 0;
}

div.siteGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto;

    grid-template-areas: 
       "header header"
       "nav nav"
       "aside section"
       "aside footer";
    header {
        grid-area: header; 
    }
    nav {
        grid-area: nav;
        position: sticky;
        top: 0;
    }
    section {
        grid-area: section;
        height:3000px;
        //overflow: auto;
    }
    aside {
        grid-area: aside;
        background-color:red;
        position: sticky;
        top: 0;
        height:100vh;
        align-self: start;
        
    }
    footer {
        grid-area: footer;
    }
}
